body {
    background-color: #FFFBFF;
    width: 100%
    overflow-x:hidden;
}


.header{
    margin-left: 700px;
    margin-top: 55px;
}

.c1{
    font-size:25px;
    color: #37261F;
    font-family: 'ARIAL BLACK';
    margin-left: 70px;
}

.c2{
    margin-left: 0px;
    margin-top: 0px;
}

.c3{
    font-size:60px;
    color: black;
    font-family: 'ARIAL BLACK';
    margin-left: 800px;
    margin-top: -400px;
    color:#E4C0A5;
}

.c4{
    font-size:50px;
    font-family: 'ARIAL BLACK';
    margin-left: 800px;
    margin-top: 20px;
    color:#37261F;
}

.c5{
    margin-top: 20px;
    margin-left: 750px;
}

.c6{
    margin-bottom: 300px;
}

.c7{
    margin-left: 80px;
    font-size:50px;
    color: black;
    font-family: 'ARIAL BLACK';
    color:#37261F;
    margin-bottom: 25px;
}

.c8{
    margin-left: 100px;
    margin-right: 100px;
}

.c9{
    margin-left: 80px;
    margin-top: 350px;
    font-size:50px;
    font-family: 'ARIAL BLACK';
    color:#37261F;
}

.c10{
    margin-bottom: -200px;
}

.c11{
    margin-left: 80px;
    margin-right: 500px;
    font-size: 16px;
}

.c12{
    margin-left: 80px;
    margin-top: 20px;
    font-size: 16px;
}

.c13{
    font-size:30px;
    color: black;
    font-family: 'ARIAL BLACK';
    margin-left: 100px;
    margin-top: 50px;
    color:#F3D7C7;
}

.c14{
    background-color: #9A6856;
    margin-top: 0px;
    height:250px;
    margin-top: 200px;
    margin-bottom: 0px;
    height: 300px;
    padding-top: 30px;
    padding-top: 30px;
}

.c15{
    background-color: #37261F;
    margin-top: 0px;
    height:30px;
    margin-top: 0px;
    padding-top: 5px;
}

.c16{
    font-size:14px;
    color: black;
    font-family: 'Times New Roman';
    margin-left: 100px;
    margin-bottom: -4px;
    color:#F3D7C7;
    text-align: center;
}

.c17{
    margin-top: -22px;
    margin-left: 140px;
    font-size: 14px;
    color: #37261F;
}

.c18{
    font-size:30px;
    color: black;
    font-family: 'ARIAL BLACK';
    margin-left: 300px;
    margin-top: 50px;
    color:#F3D7C7;
}

.c19{
    font-size:30px;
    color: black;
    font-family: 'ARIAL BLACK';
    margin-left: 500px;
    padding-top: 200px;
    color:#F3D7C7;
}

.c20{
    color: antiquewhite;
}


.i1{
    margin-left: 50px;
    margin-top: -35px;
}

.i2{
    margin-left: 100px;
    margin-top: 35px;
}

.i2:active{
    transform: rotate(60deg);
    transform: scaleX(1.5) scaleY(0.5);
    transform: skew(60deg, 0deg);
    transform: translate(21px,30px);
    transition: transform 1s ease; width 1s linear 1.5s;
}

.i3{
    margin-left: 1070px;
    margin-top: -315px;
    filter: grayscale(1); /* Черно-белый фильтр для изображения */
    transition: 1s;
}

.i3:hover {
    filter: grayscale(0); /* Цветное изображение при наведении */
}

.i4{
    margin-left: -167px;
    margin-top: 70px;
}

.i5{
    margin-left: 98px;
    margin-top: 14px;
}

.i6{
    margin-left: 98px;
    margin-top: 20px;
}

.i7{
    margin-top: -200px;
    margin-left: 750px;
}

.line{
    background-color: darkgrey;
    margin-top: 40px;
    margin-left: 0px;
    width:100%;
    height: 1px;
    float:left;
}


.b1 li{
    display: inline-block;
    border: 2px ridge;
    border-color:#37261F;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 7px;
    background: #E4C0A5;
    line-height: 45px;
    position: relative;
    margin-top: 20px;
    margin-left: 17px;
}
.b1 li:hover{
    background-color:beige;
}
a:link{
    color:black;
    text-decoration: none;
    font-family:monospace;
    font-size: 16px;
}
.b1:hover{
 text-decoration: none;
}
a:visited{
    color: black;
    font-family:cursive;
}
b1:hover{
    color:black;
}



.gallery {
  --g: 8px;   /* the gap */
  --s: 400px; /* the size */
  display: grid;
  border-radius: 50%;
    margin-left: 1070px;
    margin-top: -335px;
    transition: 1s;
}
.gallery > img {
  grid-area: 1/1;
  width: 400px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
     filter: grayscale(1); /* Черно-белый фильтр для изображения */
}
.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform .2s, clip-path .3s .2s, z-index 0s;
    filter: grayscale(0);
}
.gallery:hover img {
  transform: translate(0,0);
}
.gallery > img:nth-child(1) {
  clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
  --_y: calc(-1*var(--g))
}
.gallery > img:nth-child(2) {
  clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
  --_x: var(--g)
}
.gallery > img:nth-child(3) {
  clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
  --_y: var(--g)
}
.gallery > img:nth-child(4) {
  clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
  --_x: calc(-1*var(--g))
}




:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  background-color: #E4C0A5;
  height: 80px;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
      background-color: #E4C0A5;
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #823C23;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #8D503A;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    


.container {
  width: 660px;
  margin: 50px auto;
    margin-top: 250px;
}
.alternate {
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}
.o1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px; 
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  margin-left: 20px;
}
.o1:nth-child(1) {background:#E4C0A5}
.o1:nth-child(2) {background:#9A6856}
.o1:nth-child(3) {background:#8D503A}
.o1:nth-child(4) {background:#823C23}
.o1:nth-child(5) {background:#3B1606}
.o1:nth-child(6) {background:#331405}
.o1:nth-child(7) {background:#37261F}



.alternate li {
  -webkit-animation: shake 7.7s linear alternate infinite;
  animation: shake 7.7s linear alternate infinite;
}
.alternate-reverse li {
  -webkit-animation: shake 0.7s linear alternate-reverse infinite;
  animation: shake 0.7s linear alternate-reverse infinite;
}
.normal li {
  -webkit-animation: shake 0.7s linear normal infinite;
  animation: shake 0.7s linear normal infinite;
}
.reverse li {
  -webkit-animation: shake 0.7s linear reverse infinite;
  animation: shake 0.7s linear reverse infinite;
}
@-webkit-keyframes shake {
  100% {
    -webkit-transform: translateX(500px);    
  }
}
@keyframes shake {
  100% {
    transform: translateX(500px);    
  }
}


.b2 {
  font: inherit;
  padding: 0.2em 0.5em;
  margin-left: 90px;
  display: inline-block;
    	box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #E4C0A5, 
			-3px 3px 30px #9A6856;
    border-radius: 9999em;
    margin-left: 600px;
    margin-top: 40px;
}

.b3{
    padding: 0.2em 0.5em;
    margin-left: 20px;
    display: inline-block;
    border-radius: 9999em;
    margin-top: 40px;
    background-color:#e6e6e6;
    width: 85px;
}
  
